# Set proper MIME types for HTML files
AddType text/html .html .htm

# Set default charset to UTF-8
AddDefaultCharset UTF-8

# Optional: Enable headers module directives only if mod_headers is available
<IfModule mod_headers.c>
    <FilesMatch "\.(html|htm)$">
        Header set Content-Type "text/html; charset=UTF-8"
        Header set X-UA-Compatible "IE=edge"
    </FilesMatch>
</IfModule>
